html,
body {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw-body);
  font-size: var(--fs-body);
  min-height: 100vh;
}

/* TODO: HEADER CONTENT */
/* Page Styling */
.rec__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search__container {
    width: 90vw;
    padding: 1rem 2rem;
    background: var(--gradient-primary);
    border-radius: .75rem;
}

.search__btn {
    background-color: #fff;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: .75rem;
    cursor: pointer;

}

.search__input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    width: 95%;
    padding-inline: 1rem;
}

::placeholder {
    color: rgba(255,255,255,0.5)
}

.result__container {
    background-color: red;
    width: 90vw;
    /* height: 200rem; */
    /* position: absolute;
    top: calc(1rem + 2rem);
    left: 0; */
    z-index: -1;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    transition: all .5s ease;
}