html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-size: inherit;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: var(--fw-body);
    font-size: 1rem;
    min-height: 100vh;
    background-image: url(../images/food-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
}

/* TODO: HEADER CONTENT */
/* Page Styling */
.rec__container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
}

.search__container {
    width: 90vw;
    padding: 1rem 2rem;
    background: var(--gradient-secondary);
    border-radius: .75rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

.search__btn {
    background-color: #fff;
    padding: .5rem 1rem;
    border-radius: .75rem;
    cursor: pointer;
}

.search__icon {
    font-size: 1.5rem;
}

.search__input {
    background: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    width: 90%;
    padding-inline: 1rem;
}


::placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.result__container {
    background-color: #fff;
    padding: 1rem 2rem;
    width: 90vw;
    border: 2px solid var(--color-primary);
    /* height: 200rem; */
    /* position: absolute;
    top: calc(1rem + 2rem);
    left: 0; */
    z-index: -1;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    transition: all .5s ease;
}

.nutrient__results {
    background: var(--gradient-primary);
    padding: 1rem 2rem;
    border-radius: .75rem;
    color: #fff;
    margin-bottom: 1rem;
}

.nutrient__results h2 {
    font-size: 2rem;
    padding-block: 1rem;
}

.nutrient__list ul {
    list-style-type: square;
    padding-inline: 1rem;
    padding-block: 2rem;
}


.recommendations {
    background-color: var(--color-tertiary);
    padding: 1rem 2rem;
    border-radius: .75rem;
}

.result,
.nutrient__list {
    padding-inline: 1rem;
    padding-block: 2rem;
    list-style-type: square;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recipe__button {
    display: block;
    background: var(--gradient-secondary);
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-radius: .75rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    z-index: 100;
    pointer-events: all;
    z-index: 100;
}

.recipe__button:hover {
    background: var(--color-secondary-darker);
}

.meal-name {
    padding: 1rem 2rem;
    margin-block: .5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    justify-content: center;
    align-items: center;
}

.food__container {
    padding-inline: 1rem;
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.food__container img {
    width: 200px;
    aspect-ratio: 1;
    display: block !important;
    margin: auto;
    border-radius: .75rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.recommendations__title {
    grid-column: 1 /span 4;
    text-align: center;
    /* padding-block: 2rem; */
}

.hidden {
    opacity: 0;
    height: 0px !important;
}

.zero__size {
    padding: 0 !important;
    height: 0;
}

.logout__btn {
    display: block;
    position: fixed;
    top: 2%;
    right: 2%;
    background: var(--gradient-primary);
    font-weight: bolder;
    font-size: x-large;
    z-index: 100;
    pointer-events: all;
}