/* Css reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Root Varialbes */
:root {
    /* colors */

    --color-primary: #2dd6c1;
    --color-secondary: #496bf2;
    --color-tertiary: #FFD3B0;
    --color-primary-darker: #04d5bc;
    --color-secondary-darker: #0534ee;
    --color-tertiary-darker: #ffa864;    ;
    --color-primary-opacity: rgba(153,223,178,0.5);
    --color-secondary-opacity: rgba(255,105,105,0.5);
    --color-tertiary-opacity: rgba(255,211,176,0.5);
    --gradient-primary: linear-gradient(to top left, #04d5bc, #04d5bc);
    --gradient-secondary: linear-gradient(to top left, #496bf2, #0534ee);

    
  --fw-bold: 700;
  --fw-regular: 500;

  --fw-body: var(--fw-regular);
  --fw-heading: var(var(--fw-bold));

  --fs-800: 40px;
  --fs-700: 30px;
  --fs-600: 25px;
  --fs-500: 20px;
  --fs-400: 15px;
  --fs-300: 12px;

  --fs-body: var(--fs-400);

  /* padding and margin sizes */
  --size-1000: 100px;
  --size-900: 90px;
  --size-800: 80px;
  --size-700: 70px;
  --size-600: 60px;
  --size-500: 50px;
  --size-400: 40px;
  --size-300: 30px;
  --size-200: 20px;
  --size-100: 10px;
}

/* Utility */
.swal2-title {
  font-size: 2rem !important;
}

.swal2-html-container {
  font-size: 1.5rem !important;
}

.swal2-confirm,.swal2-cancel {
  font-size: 1.75rem !important;
}